<ion-header>
  <ion-toolbar>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://firebasestorage.googleapis.com/v0/b/relax-app-e89f8.appspot.com/o/relax%20sound.jpg?alt=media&token=29509aaf-d04f-436b-bdb6-1472ac1ac7e9"/>

<ion-card color="transparent">
<ion-toolbar color="transparent">

<ion-button expand="block"  color="success" slot="end"   (click)="login()">Login</ion-button>
<ion-button expand="block"  color="danger"  slot="start" (click)="register()">Register</ion-button>

</ion-toolbar>
</ion-card>

</ion-content>
