<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Relax Sound
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="startVideo()">Start Video</ion-button>
  <ion-button (click)="startAudio()">Start Audio</ion-button>
  <ion-button (click)="stopAudio()">Stop Audio</ion-button>
</ion-content> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="firstpage">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="custom">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="set">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>
</ion-tabs>
